openapi: 3.0.3
info:
  title: Task Manager API – Curso API First
  description: API de referencia para el curso (definición OpenAPI + implementación Express).
  version: 1.0.0
  contact:
    name: Equipo del curso
    email: soporte@taskmanager.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://verbose-succotash-97xq7wr7wwqj375q9-3000.app.github.dev/
    description: Servidor local de desarrollo
  - url: https://staging.api.taskmanager.dev/v1
    description: Servidor de staging

tags:
  - name: Tasks
    description: Operaciones relacionadas con la gestión de tareas
    
paths:
  /tasks:
    get:
      tags:
        - Tasks
      summary: Obtener todas las tareas
      description: Devuelve una lista de tareas registradas
      responses:
        '200':
          description: Lista de tareas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
            
              examples: 
                ejemplo:
                  value:
                    - id: "1"
                      title: "Mock desde OpenAPI"
                      status: "todo"
        '400':
          description: Error de validación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Tasks
      summary: Crear una nueva tarea
      description: Crea una nueva tarea a partir de los datos enviados
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - status
              properties:
                title:
                  type: string
                  example: "Preparar curso de OpenAPI"
                status:
                  type: string
                  example: "todo"
                priority:
                  type: string
                  example: low
      responses:
        '201':
          description: Tarea creada correctamente. Se devuelve el ID de la tarea creada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
            
              examples: 
                ejemplo:
                  value:
                    id: "1"
                    title: "Mock desde OpenAPI"
                    status: "todo"
                    createdAt: "2025-01-01T10:00:00Z"
        '400':
          description: Error de validación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


components:
  schemas:
    Task:
      type: object
      required:
        - title
        - status
      properties:
        id:
          type: string
          example: "64ab32cd9f0c1e12a45b78d9"
        title:
          type: string
          example: "Preparar práctica de OpenAPI"
        description:
          type: string
          example: "Definir modelos y esquemas en OpenAPI"
        tags:
          type: array
          items: 
            type: string
            example: ["work", "urgent"]
        status:
          type: string
          enum: [todo, in_progress, done]
          example: "todo"
        priority:
          type: string
          enum: [low, medium, high]
          example: "medium"
        dueDate:
          type: string
          format: date-time
          example: "2025-10-30T14:00:00Z"
          
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: "Validation error"
        details:
          type: string
          example: "The field 'title' is required"